@media screen and (min-width: 576px) {
    .login{
        justify-content: center;
    }
    
}

.x{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    border-radius: 30px;

}

.login{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.icon{
    width: 20px;
}

.mark{
    margin-bottom: 10px;
}

.login_form{
    display: grid;
    position: relative;
    margin-inline: 10px;
    border: 2px solid black;
    padding: 20px 150px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.sign_in{
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-bottom: 30px;
    
}

.btn{
    font-size: large;
    margin-bottom: 20px;
    width: 300px;
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.sep{
    margin-top: 0;
    color: gray;
    font-size: larger;
}


.btn:hover{
    cursor: pointer;
}
.id-input{
    font-size: large;
    color: rgb(150, 150, 150);
    width: 260px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 33px;
    padding-left: 5px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.nxt{
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    border: 0;

}

.forgot{
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: rgb(206, 204, 204);
    width: 300px;
    border: 1px solid gray;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.forgot:hover{
    cursor: pointer;
}

.nxt:hover{
    cursor: pointer;
}

.options{
    display: grid;
}

.register{
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 40px;
}